<h1>{{user.data.display_name}}</h1>

<table class="table profile">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> </th>
        <th scope="col">Branch & Room</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Created</th>
        <th scope="col">Event Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservation in data track by $index">
        <td scope="row"><input type="checkbox" value="{{$index}}" name="selected[]"></td>
        <td>{{reservation.container_number}}</td>
        <td>
            {{reservation.start_time * 1000 | date: 'shortDate'}} <br>
          {{reservation.start_time * 1000 | date: 'shortTime'}} - {{reservation.end_time* 1000  | date: 'shortTime'}}
        </td>
        <td>{{reservation.company_name}}<br >
            {{reservation.email}}</td>
        <td>{{reservation.notes}}</td>
      </tr>
    </tbody>
  </table>