<h1>Username Here</h1>

<table class="table profile">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> </th>
        <th scope="col">Branch & Room</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Created</th>
        <th scope="col">Event Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>