<h1>{{user.data.display_name}}</h1>
<div class="alert alert-info sticky-top col-xs-12" role="alert">
  <div ng-if="items.length > 0">
    <p>Items selected</p>
    <span ng-repeat="item in items track by $index">
      <ng-container ng-if="items.length == 1 || $index == 0">{{item}}</ng-container>
      <ng-container ng-if="items.length > 1 && $index > 0">, {{item}} </ng-container>
    </span>
  </div>
  <div ng-if="items.length == 0">
    <p>No items selected</p>
  </div>
</div>
<button type="button" class="btn btn-danger" ng-disabled="items.length == 0" ng-click="deleteUserReservation()">Delete selected items</button>
<button type="button" class="btn btn-primary" ng-disabled="items.length > 1 || items.length == 0" ng-click="editUserReservation()">Edit selected items</button>
<table class="table profile">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> </th>
      <th scope="col">Branch & Room</th>
      <th scope="col">Date & Time</th>
      <th scope="col">Created</th>
      <th scope="col">Event Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reservation in data track by $index">
      <td scope="row"><input type="checkbox" value="{{$index}}" name="selected[]" ng-change="selectedBox($index)"
          ng-model="reservation.selected"></td>
      <td>{{reservation.container_number}}</td>
      <td>
        {{reservation.start_time[0] * 1000 | date: 'shortDate'}} <br>
        {{reservation.start_time[0] * 1000 | date: 'shortTime'}} - {{reservation.start_time[reservation.start_time.length - 2] + (30 * 60 * 1000)  | date: 'shortTime'}}
      </td>
      <td>{{reservation.company_name}}<br>
        {{reservation.email}}</td>
      <td>{{reservation.notes}}</td>
    </tr>
  </tbody>
</table>