@charset "UTF-8";

@font-face {
  font-family: "medicare";
  src:url("../fonts/medicare.eot");
  src:url("../fonts/medicare.eot?#iefix") format("embedded-opentype"),
    url("../fonts/medicare.woff") format("woff"),
    url("../fonts/medicare.ttf") format("truetype"),
    url("../fonts/medicare.svg#medicare") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "medicare" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "medicare" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shutterstock-166641992-converted:before {
  content: "a";
}
.icon-shutterstock-166641992-converted-1:before {
  content: "b";
}
.icon-shutterstock-166641992-converted-2:before {
  content: "c";
}
.icon-shutterstock-166641992-converted-3:before {
  content: "d";
}
.icon-shutterstock-166641992-converted-4:before {
  content: "e";
}
.icon-shutterstock-166641992-converted-5:before {
  content: "f";
}
.icon-shutterstock-166641992-converted-6:before {
  content: "g";
}
.icon-shutterstock-166641992-converted-7:before {
  content: "h";
}
.icon-shutterstock-166641992-converted-8:before {
  content: "i";
}
.icon-shutterstock-166641992-converted-9:before {
  content: "j";
}
.icon-shutterstock-166641992-converted-10:before {
  content: "k";
}
.icon-shutterstock-166641992-converted-11:before {
  content: "l";
}
.icon-shutterstock-166641992-converted-12:before {
  content: "m";
}
.icon-shutterstock-166641992-converted-13:before {
  content: "n";
}
.icon-shutterstock-166641992-converted-14:before {
  content: "o";
}
.icon-shutterstock-166641992-converted-15:before {
  content: "p";
}
.icon-shutterstock-166641992-converted-16:before {
  content: "q";
}
.icon-shutterstock-166641992-converted-17:before {
  content: "r";
}
.icon-shutterstock-166641992-converted-18:before {
  content: "s";
}
.icon-shutterstock-166641992-converted-19:before {
  content: "t";
}
.icon-shutterstock-166641992-converted-20:before {
  content: "u";
}
.icon-shutterstock-166641992-converted-21:before {
  content: "v";
}
.icon-shutterstock-166641992-converted-22:before {
  content: "w";
}
.icon-shutterstock-166641992-converted-23:before {
  content: "x";
}
.icon-shutterstock-166641992-converted-24:before {
  content: "y";
}
.icon-shutterstock-166641992-converted-25:before {
  content: "z";
}
.icon-shutterstock-166641992-converted-26:before {
  content: "A";
}
.icon-shutterstock-166641992-converted-27:before {
  content: "B";
}
.icon-shutterstock-166641992-converted-28:before {
  content: "C";
}
.icon-shutterstock-166641992-converted-29:before {
  content: "D";
}
.icon-shutterstock-166641992-converted-30:before {
  content: "E";
}
.icon-shutterstock-166641992-converted-31:before {
  content: "F";
}
.icon-shutterstock-166641992-converted-32:before {
  content: "G";
}
.icon-shutterstock-166641992-converted-33:before {
  content: "H";
}
.icon-shutterstock-166641992-converted-34:before {
  content: "I";
}
.icon-shutterstock-166641992-converted-35:before {
  content: "J";
}
.icon-shutterstock-166641992-converted-36:before {
  content: "K";
}
.icon-shutterstock-166641992-converted-37:before {
  content: "L";
}
.icon-shutterstock-166641992-converted-38:before {
  content: "M";
}
.icon-shutterstock-166641992-converted-39:before {
  content: "N";
}
.icon-shutterstock-166641992-converted-40:before {
  content: "O";
}
.icon-shutterstock-166641992-converted-41:before {
  content: "P";
}
.icon-shutterstock-166641992-converted-42:before {
  content: "Q";
}
.icon-shutterstock-166641992-converted-43:before {
  content: "R";
}
.icon-shutterstock-166641992-converted-44:before {
  content: "S";
}
.icon-shutterstock-166641992-converted-45:before {
  content: "T";
}
.icon-shutterstock-166641992-converted-46:before {
  content: "U";
}
.icon-shutterstock-166641992-converted-47:before {
  content: "V";
}
.icon-shutterstock-166641992-converted-48:before {
  content: "W";
}
.icon-shutterstock-166641992-converted-49:before {
  content: "X";
}
.icon-shutterstock-166641992-converted-50:before {
  content: "Y";
}
.icon-shutterstock-166641992-converted-51:before {
  content: "Z";
}
.icon-shutterstock-166641992-converted-52:before {
  content: "0";
}
.icon-shutterstock-166641992-converted-53:before {
  content: "1";
}
.icon-shutterstock-166641992-converted-54:before {
  content: "2";
}
.icon-shutterstock-166641992-converted-55:before {
  content: "3";
}
.icon-shutterstock-166641992-converted-56:before {
  content: "4";
}
.icon-shutterstock-166641992-converted-57:before {
  content: "5";
}
.icon-shutterstock-166641992-converted-58:before {
  content: "6";
}
.icon-shutterstock-166641992-converted-59:before {
  content: "7";
}
.icon-shutterstock-166641992-converted-60:before {
  content: "8";
}
.icon-address:before {
  content: "9";
}
.icon-adjust:before {
  content: "!";
}
.icon-air:before {
  content: "\"";
}
.icon-alert:before {
  content: "#";
}
.icon-archive:before {
  content: "$";
}
.icon-arrow-combo:before {
  content: "%";
}
.icon-arrows-ccw:before {
  content: "&";
}
.icon-attach:before {
  content: "'";
}
.icon-attention:before {
  content: "(";
}
.icon-back:before {
  content: ")";
}
.icon-back-in-time:before {
  content: "*";
}
.icon-bag:before {
  content: "+";
}
.icon-basket:before {
  content: ",";
}
.icon-battery:before {
  content: "-";
}
.icon-behance:before {
  content: ".";
}
.icon-bell:before {
  content: "/";
}
.icon-block:before {
  content: ":";
}
.icon-book:before {
  content: ";";
}
.icon-book-open:before {
  content: "<";
}
.icon-bookmark:before {
  content: "=";
}
.icon-bookmarks:before {
  content: ">";
}
.icon-box:before {
  content: "?";
}
.icon-briefcase:before {
  content: "@";
}
.icon-brush:before {
  content: "[";
}
.icon-bucket:before {
  content: "]";
}
.icon-calendar:before {
  content: "^";
}
.icon-camera:before {
  content: "_";
}
.icon-cancel:before {
  content: "`";
}
.icon-cancel-circled:before {
  content: "{";
}
.icon-cancel-squared:before {
  content: "|";
}
.icon-cc:before {
  content: "}";
}
.icon-cc-by:before {
  content: "~";
}
.icon-cc-nc:before {
  content: "\\";
}
.icon-cc-nc-eu:before {
  content: "\e000";
}
.icon-cc-nc-jp:before {
  content: "\e001";
}
.icon-cc-nd:before {
  content: "\e002";
}
.icon-cc-pd:before {
  content: "\e003";
}
.icon-cc-remix:before {
  content: "\e004";
}
.icon-cc-sa:before {
  content: "\e005";
}
.icon-cc-share:before {
  content: "\e006";
}
.icon-cc-zero:before {
  content: "\e007";
}
.icon-ccw:before {
  content: "\e008";
}
.icon-cd:before {
  content: "\e009";
}
.icon-chart-area:before {
  content: "\e00a";
}
.icon-chart-bar:before {
  content: "\e00b";
}
.icon-chart-line:before {
  content: "\e00c";
}
.icon-chart-pie:before {
  content: "\e00d";
}
.icon-chat:before {
  content: "\e00e";
}
.icon-check:before {
  content: "\e00f";
}
.icon-clipboard:before {
  content: "\e010";
}
.icon-clock:before {
  content: "\e011";
}
.icon-cloud:before {
  content: "\e012";
}
.icon-cloud-thunder:before {
  content: "\e013";
}
.icon-code:before {
  content: "\e014";
}
.icon-cog:before {
  content: "\e015";
}
.icon-comment:before {
  content: "\e016";
}
.icon-compass:before {
  content: "\e017";
}
.icon-credit-card:before {
  content: "\e018";
}
.icon-cup:before {
  content: "\e019";
}
.icon-cw:before {
  content: "\e01a";
}
.icon-database:before {
  content: "\e01b";
}
.icon-db-shape:before {
  content: "\e01c";
}
.icon-direction:before {
  content: "\e01d";
}
.icon-doc:before {
  content: "\e01e";
}
.icon-doc-landscape:before {
  content: "\e01f";
}
.icon-doc-text:before {
  content: "\e020";
}
.icon-doc-text-inv:before {
  content: "\e021";
}
.icon-docs:before {
  content: "\e022";
}
.icon-dot:before {
  content: "\e023";
}
.icon-dot-2:before {
  content: "\e024";
}
.icon-dot-3:before {
  content: "\e025";
}
.icon-down:before {
  content: "\e026";
}
.icon-down-bold:before {
  content: "\e027";
}
.icon-down-circled:before {
  content: "\e028";
}
.icon-down-dir:before {
  content: "\e029";
}
.icon-down-open:before {
  content: "\e02a";
}
.icon-down-open-big:before {
  content: "\e02b";
}
.icon-down-open-mini:before {
  content: "\e02c";
}
.icon-down-thin:before {
  content: "\e02d";
}
.icon-download:before {
  content: "\e02e";
}
.icon-dribbble:before {
  content: "\e02f";
}
.icon-dribbble-circled:before {
  content: "\e030";
}
.icon-drive:before {
  content: "\e031";
}
.icon-dropbox:before {
  content: "\e032";
}
.icon-droplet:before {
  content: "\e033";
}
.icon-erase:before {
  content: "\e034";
}
.icon-evernote:before {
  content: "\e035";
}
.icon-export:before {
  content: "\e036";
}
.icon-eye:before {
  content: "\e037";
}
.icon-facebook:before {
  content: "\e038";
}
.icon-facebook-circled:before {
  content: "\e039";
}
.icon-facebook-squared:before {
  content: "\e03a";
}
.icon-fast-backward:before {
  content: "\e03b";
}
.icon-fast-forward:before {
  content: "\e03c";
}
.icon-feather:before {
  content: "\e03d";
}
.icon-flag:before {
  content: "\e03e";
}
.icon-flash:before {
  content: "\e03f";
}
.icon-flashlight:before {
  content: "\e040";
}
.icon-flattr:before {
  content: "\e041";
}
.icon-flickr:before {
  content: "\e042";
}
.icon-flickr-circled:before {
  content: "\e043";
}
.icon-flight:before {
  content: "\e044";
}
.icon-floppy:before {
  content: "\e045";
}
.icon-flow-branch:before {
  content: "\e046";
}
.icon-flow-cascade:before {
  content: "\e047";
}
.icon-flow-line:before {
  content: "\e048";
}
.icon-flow-parallel:before {
  content: "\e049";
}
.icon-flow-tree:before {
  content: "\e04a";
}
.icon-folder:before {
  content: "\e04b";
}
.icon-forward:before {
  content: "\e04c";
}
.icon-gauge:before {
  content: "\e04d";
}
.icon-github:before {
  content: "\e04e";
}
.icon-github-circled:before {
  content: "\e04f";
}
.icon-globe:before {
  content: "\e050";
}
.icon-google-circles:before {
  content: "\e051";
}
.icon-gplus:before {
  content: "\e052";
}
.icon-gplus-circled:before {
  content: "\e053";
}
.icon-graduation-cap:before {
  content: "\e054";
}
.icon-heart:before {
  content: "\e055";
}
.icon-heart-empty:before {
  content: "\e056";
}
.icon-help:before {
  content: "\e057";
}
.icon-help-circled:before {
  content: "\e058";
}
.icon-home:before {
  content: "\e059";
}
.icon-hourglass:before {
  content: "\e05a";
}
.icon-inbox:before {
  content: "\e05b";
}
.icon-infinity:before {
  content: "\e05c";
}
.icon-info:before {
  content: "\e05d";
}
.icon-info-circled:before {
  content: "\e05e";
}
.icon-instagrem:before {
  content: "\e05f";
}
.icon-install:before {
  content: "\e060";
}
.icon-key:before {
  content: "\e061";
}
.icon-keyboard:before {
  content: "\e062";
}
.icon-lamp:before {
  content: "\e063";
}
.icon-language:before {
  content: "\e064";
}
.icon-lastfm:before {
  content: "\e065";
}
.icon-lastfm-circled:before {
  content: "\e066";
}
.icon-layout:before {
  content: "\e067";
}
.icon-leaf:before {
  content: "\e068";
}
.icon-left:before {
  content: "\e069";
}
.icon-left-bold:before {
  content: "\e06a";
}
.icon-left-circled:before {
  content: "\e06b";
}
.icon-left-dir:before {
  content: "\e06c";
}
.icon-left-open:before {
  content: "\e06d";
}
.icon-left-open-big:before {
  content: "\e06e";
}
.icon-left-open-mini:before {
  content: "\e06f";
}
.icon-left-thin:before {
  content: "\e070";
}
.icon-level-down:before {
  content: "\e071";
}
.icon-level-up:before {
  content: "\e072";
}
.icon-lifebuoy:before {
  content: "\e073";
}
.icon-light-down:before {
  content: "\e074";
}
.icon-light-up:before {
  content: "\e075";
}
.icon-link:before {
  content: "\e076";
}
.icon-linkedin:before {
  content: "\e077";
}
.icon-linkedin-circled:before {
  content: "\e078";
}
.icon-list:before {
  content: "\e079";
}
.icon-list-add:before {
  content: "\e07a";
}
.icon-location:before {
  content: "\e07b";
}
.icon-lock:before {
  content: "\e07c";
}
.icon-lock-open:before {
  content: "\e07d";
}
.icon-login:before {
  content: "\e07e";
}
.icon-logo-db:before {
  content: "\e07f";
}
.icon-logout:before {
  content: "\e080";
}
.icon-loop:before {
  content: "\e081";
}
.icon-magnet:before {
  content: "\e082";
}
.icon-mail:before {
  content: "\e083";
}
.icon-map:before {
  content: "\e084";
}
.icon-megaphone:before {
  content: "\e085";
}
.icon-menu:before {
  content: "\e086";
}
.icon-mic:before {
  content: "\e087";
}
.icon-minus:before {
  content: "\e088";
}
.icon-minus-circled:before {
  content: "\e089";
}
.icon-minus-squared:before {
  content: "\e08a";
}
.icon-mixi:before {
  content: "\e08b";
}
.icon-mobile:before {
  content: "\e08c";
}
.icon-monitor:before {
  content: "\e08d";
}
.icon-moon:before {
  content: "\e08e";
}
.icon-mouse:before {
  content: "\e08f";
}
.icon-music:before {
  content: "\e090";
}
.icon-mute:before {
  content: "\e091";
}
.icon-network:before {
  content: "\e092";
}
.icon-newspaper:before {
  content: "\e093";
}
.icon-note:before {
  content: "\e094";
}
.icon-note-beamed:before {
  content: "\e095";
}
.icon-palette:before {
  content: "\e096";
}
.icon-paper-plane:before {
  content: "\e097";
}
.icon-pause:before {
  content: "\e098";
}
.icon-paypal:before {
  content: "\e099";
}
.icon-pencil:before {
  content: "\e09a";
}
.icon-phone:before {
  content: "\e09b";
}
.icon-picasa:before {
  content: "\e09c";
}
.icon-picture:before {
  content: "\e09d";
}
.icon-pinterest:before {
  content: "\e09e";
}
.icon-pinterest-circled:before {
  content: "\e09f";
}
.icon-play:before {
  content: "\e0a0";
}
.icon-plus:before {
  content: "\e0a1";
}
.icon-plus-circled:before {
  content: "\e0a2";
}
.icon-plus-squared:before {
  content: "\e0a3";
}
.icon-popup:before {
  content: "\e0a4";
}
.icon-print:before {
  content: "\e0a5";
}
.icon-progress-0:before {
  content: "\e0a6";
}
.icon-progress-1:before {
  content: "\e0a7";
}
.icon-progress-2:before {
  content: "\e0a8";
}
.icon-progress-3:before {
  content: "\e0a9";
}
.icon-publish:before {
  content: "\e0aa";
}
.icon-qq:before {
  content: "\e0ab";
}
.icon-quote:before {
  content: "\e0ac";
}
.icon-rdio:before {
  content: "\e0ad";
}
.icon-rdio-circled:before {
  content: "\e0ae";
}
.icon-record:before {
  content: "\e0af";
}
.icon-renren:before {
  content: "\e0b0";
}
.icon-reply:before {
  content: "\e0b1";
}
.icon-reply-all:before {
  content: "\e0b2";
}
.icon-resize-full:before {
  content: "\e0b3";
}
.icon-resize-small:before {
  content: "\e0b4";
}
.icon-retweet:before {
  content: "\e0b5";
}
.icon-right:before {
  content: "\e0b6";
}
.icon-right-bold:before {
  content: "\e0b7";
}
.icon-right-circled:before {
  content: "\e0b8";
}
.icon-right-dir:before {
  content: "\e0b9";
}
.icon-right-open:before {
  content: "\e0ba";
}
.icon-right-open-big:before {
  content: "\e0bb";
}
.icon-right-open-mini:before {
  content: "\e0bc";
}
.icon-right-thin:before {
  content: "\e0bd";
}
.icon-rocket:before {
  content: "\e0be";
}
.icon-rss:before {
  content: "\e0bf";
}
.icon-search:before {
  content: "\e0c0";
}
.icon-share:before {
  content: "\e0c1";
}
.icon-shareable:before {
  content: "\e0c2";
}
.icon-shuffle:before {
  content: "\e0c3";
}
.icon-signal:before {
  content: "\e0c4";
}
.icon-sina-weibo:before {
  content: "\e0c5";
}
.icon-skype:before {
  content: "\e0c6";
}
.icon-skype-circled:before {
  content: "\e0c7";
}
.icon-smashing:before {
  content: "\e0c8";
}
.icon-sound:before {
  content: "\e0c9";
}
.icon-soundcloud:before {
  content: "\e0ca";
}
.icon-spotify:before {
  content: "\e0cb";
}
.icon-spotify-circled:before {
  content: "\e0cc";
}
.icon-star:before {
  content: "\e0cd";
}
.icon-star-empty:before {
  content: "\e0ce";
}
.icon-stop:before {
  content: "\e0cf";
}
.icon-stumbleupon:before {
  content: "\e0d0";
}
.icon-stumbleupon-circled:before {
  content: "\e0d1";
}
.icon-suitcase:before {
  content: "\e0d2";
}
.icon-sweden:before {
  content: "\e0d3";
}
.icon-switch:before {
  content: "\e0d4";
}
.icon-tag:before {
  content: "\e0d5";
}
.icon-tape:before {
  content: "\e0d6";
}
.icon-target:before {
  content: "\e0d7";
}
.icon-thermometer:before {
  content: "\e0d8";
}
.icon-thumbs-down:before {
  content: "\e0d9";
}
.icon-thumbs-up:before {
  content: "\e0da";
}
.icon-ticket:before {
  content: "\e0db";
}
.icon-to-end:before {
  content: "\e0dc";
}
.icon-to-start:before {
  content: "\e0dd";
}
.icon-tools:before {
  content: "\e0de";
}
.icon-traffic-cone:before {
  content: "\e0df";
}
.icon-trash:before {
  content: "\e0e0";
}
.icon-trophy:before {
  content: "\e0e1";
}
.icon-tumblr:before {
  content: "\e0e2";
}
.icon-tumblr-circled:before {
  content: "\e0e3";
}
.icon-twitter:before {
  content: "\e0e4";
}
.icon-twitter-circled:before {
  content: "\e0e5";
}
.icon-up:before {
  content: "\e0e6";
}
.icon-up-bold:before {
  content: "\e0e7";
}
.icon-up-circled:before {
  content: "\e0e8";
}
.icon-up-dir:before {
  content: "\e0e9";
}
.icon-up-open:before {
  content: "\e0ea";
}
.icon-up-open-big:before {
  content: "\e0eb";
}
.icon-up-open-mini:before {
  content: "\e0ec";
}
.icon-up-thin:before {
  content: "\e0ed";
}
.icon-upload:before {
  content: "\e0ee";
}
.icon-upload-cloud:before {
  content: "\e0ef";
}
.icon-user:before {
  content: "\e0f0";
}
.icon-user-add:before {
  content: "\e0f1";
}
.icon-users:before {
  content: "\e0f2";
}
.icon-vcard:before {
  content: "\e0f3";
}
.icon-video:before {
  content: "\e0f4";
}
.icon-vimeo:before {
  content: "\e0f5";
}
.icon-vimeo-circled:before {
  content: "\e0f6";
}
.icon-vkontakte:before {
  content: "\e0f7";
}
.icon-volume:before {
  content: "\e0f8";
}
.icon-water:before {
  content: "\e0f9";
}
.icon-window:before {
  content: "\e0fa";
}
.icon-adn:before {
  content: "\e0fb";
}
.icon-aid-medkit-case:before {
  content: "\e0fc";
}
.icon-align-center:before {
  content: "\e0fd";
}
.icon-align-justify:before {
  content: "\e0fe";
}
.icon-align-justify-1:before {
  content: "\e0ff";
}
.icon-align-left:before {
  content: "\e100";
}
.icon-align-right:before {
  content: "\e101";
}
.icon-ambulance:before {
  content: "\e102";
}
.icon-anchor:before {
  content: "\e103";
}
.icon-android:before {
  content: "\e104";
}
.icon-angle-double-down:before {
  content: "\e105";
}
.icon-angle-double-left:before {
  content: "\e106";
}
.icon-angle-double-right:before {
  content: "\e107";
}
.icon-angle-double-up:before {
  content: "\e108";
}
.icon-angle-down:before {
  content: "\e109";
}
.icon-angle-left:before {
  content: "\e10a";
}
.icon-angle-right:before {
  content: "\e10b";
}
.icon-angle-up:before {
  content: "\e10c";
}
.icon-apple:before {
  content: "\e10d";
}
.icon-archive-1:before {
  content: "\e10e";
}
.icon-arrow-circle-down:before {
  content: "\e10f";
}
.icon-arrow-circle-down-line:before {
  content: "\e110";
}
.icon-arrow-circle-left:before {
  content: "\e111";
}
.icon-arrow-circle-right:before {
  content: "\e112";
}
.icon-arrow-circle-right-line:before {
  content: "\e113";
}
.icon-arrow-circle-up:before {
  content: "\e114";
}
.icon-arrow-circle-up-line:before {
  content: "\e115";
}
.icon-arrow-down:before {
  content: "\e116";
}
.icon-arrow-down-1:before {
  content: "\e117";
}
.icon-arrow-horizontal:before {
  content: "\e118";
}
.icon-arrow-left:before {
  content: "\e119";
}
.icon-arrow-left-1:before {
  content: "\e11a";
}
.icon-arrow-right:before {
  content: "\e11b";
}
.icon-arrow-right-1:before {
  content: "\e11c";
}
.icon-arrow-up:before {
  content: "\e11d";
}
.icon-arrow-up-1:before {
  content: "\e11e";
}
.icon-arrow-vertical:before {
  content: "\e11f";
}
.icon-asterisk:before {
  content: "\e120";
}
.icon-backward:before {
  content: "\e121";
}
.icon-bar-chart:before {
  content: "\e122";
}
.icon-barcode:before {
  content: "\e123";
}
.icon-beer:before {
  content: "\e124";
}
.icon-bell-1:before {
  content: "\e125";
}
.icon-bell-two:before {
  content: "\e126";
}
.icon-bitbucket:before {
  content: "\e127";
}
.icon-bitbucket-square:before {
  content: "\e128";
}
.icon-bitcoin:before {
  content: "\e129";
}
.icon-bold:before {
  content: "\e12a";
}
.icon-book-1:before {
  content: "\e12b";
}
.icon-bookmark-1:before {
  content: "\e12c";
}
.icon-box-inbox:before {
  content: "\e12d";
}
.icon-briefcase-case:before {
  content: "\e12e";
}
.icon-briefcase-case-two:before {
  content: "\e12f";
}
.icon-bug:before {
  content: "\e130";
}
.icon-building:before {
  content: "\e131";
}
.icon-bullhorn:before {
  content: "\e132";
}
.icon-bullseye:before {
  content: "\e133";
}
.icon-calendar-1:before {
  content: "\e134";
}
.icon-calendar-2:before {
  content: "\e135";
}
.icon-call-phone:before {
  content: "\e136";
}
.icon-call-phone-square:before {
  content: "\e137";
}
.icon-camera-1:before {
  content: "\e138";
}
.icon-camera-retro:before {
  content: "\e139";
}
.icon-caret-down:before {
  content: "\e13a";
}
.icon-caret-down-two:before {
  content: "\e13b";
}
.icon-caret-left:before {
  content: "\e13c";
}
.icon-caret-right:before {
  content: "\e13d";
}
.icon-caret-square-down:before {
  content: "\e13e";
}
.icon-caret-square-right:before {
  content: "\e13f";
}
.icon-caret-square-up:before {
  content: "\e140";
}
.icon-caret-up:before {
  content: "\e141";
}
.icon-caret-up-down:before {
  content: "\e142";
}
.icon-caret-up-two:before {
  content: "\e143";
}
.icon-certificate:before {
  content: "\e144";
}
.icon-chat-bubble:before {
  content: "\e145";
}
.icon-chat-bubble-two:before {
  content: "\e146";
}
.icon-check-mark:before {
  content: "\e147";
}
.icon-check-mark-2:before {
  content: "\e148";
}
.icon-check-mark-circle:before {
  content: "\e149";
}
.icon-check-mark-circle-two:before {
  content: "\e14a";
}
.icon-check-square:before {
  content: "\e14b";
}
.icon-chevron-down:before {
  content: "\e14c";
}
.icon-chevron-down-circle:before {
  content: "\e14d";
}
.icon-chevron-left:before {
  content: "\e14e";
}
.icon-chevron-right:before {
  content: "\e14f";
}
.icon-chevron-up:before {
  content: "\e150";
}
.icon-chevron-up-circle:before {
  content: "\e151";
}
.icon-circle:before {
  content: "\e152";
}
.icon-circle-line:before {
  content: "\e153";
}
.icon-clipboard-1:before {
  content: "\e154";
}
.icon-clock-1:before {
  content: "\e155";
}
.icon-close-delete:before {
  content: "\e156";
}
.icon-cloud-1:before {
  content: "\e157";
}
.icon-cloud-download:before {
  content: "\e158";
}
.icon-cloud-upload:before {
  content: "\e159";
}
.icon-code-1:before {
  content: "\e15a";
}
.icon-code-fork:before {
  content: "\e15b";
}
.icon-cog-gear:before {
  content: "\e15c";
}
.icon-columns:before {
  content: "\e15d";
}
.icon-compass-1:before {
  content: "\e15e";
}
.icon-contrast:before {
  content: "\e15f";
}
.icon-credit-card-1:before {
  content: "\e160";
}
.icon-crop:before {
  content: "\e161";
}
.icon-crosshair-aim:before {
  content: "\e162";
}
.icon-css3:before {
  content: "\e163";
}
.icon-cup-1:before {
  content: "\e164";
}
.icon-cursor-move:before {
  content: "\e165";
}
.icon-cursor-move-two:before {
  content: "\e166";
}
.icon-cut-scissor:before {
  content: "\e167";
}
.icon-cutlery:before {
  content: "\e168";
}
.icon-delete-circle:before {
  content: "\e169";
}
.icon-denied-block:before {
  content: "\e16a";
}
.icon-dislike:before {
  content: "\e16b";
}
.icon-doctor:before {
  content: "\e16c";
}
.icon-document:before {
  content: "\e16d";
}
.icon-dollar:before {
  content: "\e16e";
}
.icon-download-1:before {
  content: "\e16f";
}
.icon-dribble:before {
  content: "\e170";
}
.icon-dropbox-1:before {
  content: "\e171";
}
.icon-earser:before {
  content: "\e172";
}
.icon-edit-write:before {
  content: "\e173";
}
.icon-eject:before {
  content: "\e174";
}
.icon-ellipsis:before {
  content: "\e175";
}
.icon-ellipsis-2:before {
  content: "\e176";
}
.icon-email-envelope:before {
  content: "\e177";
}
.icon-euro:before {
  content: "\e178";
}
.icon-exchange:before {
  content: "\e179";
}
.icon-exclamation:before {
  content: "\e17a";
}
.icon-exclamation-circle:before {
  content: "\e17b";
}
.icon-exclamation-triangle:before {
  content: "\e17c";
}
.icon-external-link:before {
  content: "\e17d";
}
.icon-external-link-sqaure:before {
  content: "\e17e";
}
.icon-eye-1:before {
  content: "\e17f";
}
.icon-eye-slash-close:before {
  content: "\e180";
}
.icon-facebook-1:before {
  content: "\e181";
}
.icon-facebook-square:before {
  content: "\e182";
}
.icon-fast-backward-1:before {
  content: "\e183";
}
.icon-fast-forward-1:before {
  content: "\e184";
}
.icon-female:before {
  content: "\e185";
}
.icon-fighter-jet:before {
  content: "\e186";
}
.icon-file:before {
  content: "\e187";
}
.icon-file-document:before {
  content: "\e188";
}
.icon-file-text:before {
  content: "\e189";
}
.icon-files:before {
  content: "\e18a";
}
.icon-filmstrip:before {
  content: "\e18b";
}
.icon-filter:before {
  content: "\e18c";
}
.icon-fire:before {
  content: "\e18d";
}
.icon-fire-extinguisher:before {
  content: "\e18e";
}
.icon-flag-1:before {
  content: "\e18f";
}
.icon-flag-2:before {
  content: "\e190";
}
.icon-flag-goal:before {
  content: "\e191";
}
.icon-flash-1:before {
  content: "\e192";
}
.icon-flickr-1:before {
  content: "\e193";
}
.icon-folder-1:before {
  content: "\e194";
}
.icon-folder2:before {
  content: "\e195";
}
.icon-folder3:before {
  content: "\e196";
}
.icon-folder-open:before {
  content: "\e197";
}
.icon-font:before {
  content: "\e198";
}
.icon-fontawesome-webfont:before {
  content: "\e199";
}
.icon-forward-1:before {
  content: "\e19a";
}
.icon-foursquare:before {
  content: "\e19b";
}
.icon-gamepad:before {
  content: "\e19c";
}
.icon-gears-setting:before {
  content: "\e19d";
}
.icon-github-1:before {
  content: "\e19e";
}
.icon-github-square:before {
  content: "\e19f";
}
.icon-gittip:before {
  content: "\e1a0";
}
.icon-glass:before {
  content: "\e1a1";
}
.icon-globe-world:before {
  content: "\e1a2";
}
.icon-google-plus:before {
  content: "\e1a3";
}
.icon-google-plus-1:before {
  content: "\e1a4";
}
.icon-group:before {
  content: "\e1a5";
}
.icon-hand-down:before {
  content: "\e1a6";
}
.icon-hand-right:before {
  content: "\e1a7";
}
.icon-hand-up:before {
  content: "\e1a8";
}
.icon-harddrive:before {
  content: "\e1a9";
}
.icon-headphone:before {
  content: "\e1aa";
}
.icon-heart-1:before {
  content: "\e1ab";
}
.icon-heart-empty-1:before {
  content: "\e1ac";
}
.icon-home-1:before {
  content: "\e1ad";
}
.icon-hospital:before {
  content: "\e1ae";
}
.icon-hospital-square:before {
  content: "\e1af";
}
.icon-hospital-square-two:before {
  content: "\e1b0";
}
.icon-html5:before {
  content: "\e1b1";
}
.icon-indent:before {
  content: "\e1b2";
}
.icon-information:before {
  content: "\e1b3";
}
.icon-information-circle:before {
  content: "\e1b4";
}
.icon-instagram:before {
  content: "\e1b5";
}
.icon-italic:before {
  content: "\e1b6";
}
.icon-key-1:before {
  content: "\e1b7";
}
.icon-keyboard-1:before {
  content: "\e1b8";
}
.icon-laptop:before {
  content: "\e1b9";
}
.icon-leaf-1:before {
  content: "\e1ba";
}
.icon-left-1:before {
  content: "\e1bb";
}
.icon-left-circle:before {
  content: "\e1bc";
}
.icon-legal:before {
  content: "\e1bd";
}
.icon-lemon:before {
  content: "\e1be";
}
.icon-letter-mail:before {
  content: "\e1bf";
}
.icon-level-down-1:before {
  content: "\e1c0";
}
.icon-level-up-1:before {
  content: "\e1c1";
}
.icon-lightbulb:before {
  content: "\e1c2";
}
.icon-like:before {
  content: "\e1c3";
}
.icon-like-filled:before {
  content: "\e1c4";
}
.icon-link-1:before {
  content: "\e1c5";
}
.icon-link-broken:before {
  content: "\e1c6";
}
.icon-linkedin-1:before {
  content: "\e1c7";
}
.icon-linkedin-square:before {
  content: "\e1c8";
}
.icon-linux:before {
  content: "\e1c9";
}
.icon-list-1:before {
  content: "\e1ca";
}
.icon-list-2:before {
  content: "\e1cb";
}
.icon-list-bullet:before {
  content: "\e1cc";
}
.icon-list-number:before {
  content: "\e1cd";
}
.icon-location-arrow:before {
  content: "\e1ce";
}
.icon-lock-1:before {
  content: "\e1cf";
}
.icon-log-in:before {
  content: "\e1d0";
}
.icon-log-out:before {
  content: "\e1d1";
}
.icon-magic-wand:before {
  content: "\e1d2";
}
.icon-magnet-1:before {
  content: "\e1d3";
}
.icon-mail-forward:before {
  content: "\e1d4";
}
.icon-male:before {
  content: "\e1d5";
}
.icon-maxcdn:before {
  content: "\e1d6";
}
.icon-mic-1:before {
  content: "\e1d7";
}
.icon-mic-no:before {
  content: "\e1d8";
}
.icon-minus-1:before {
  content: "\e1d9";
}
.icon-minus-circle:before {
  content: "\e1da";
}
.icon-minus-line:before {
  content: "\e1db";
}
.icon-minus-square:before {
  content: "\e1dc";
}
.icon-minus-square-1:before {
  content: "\e1dd";
}
.icon-money-banknote:before {
  content: "\e1de";
}
.icon-moon-sleep:before {
  content: "\e1df";
}
.icon-music-note:before {
  content: "\e1e0";
}
.icon-outdent:before {
  content: "\e1e1";
}
.icon-paper-clip:before {
  content: "\e1e2";
}
.icon-pause-1:before {
  content: "\e1e3";
}
.icon-pencil-1:before {
  content: "\e1e4";
}
.icon-pencil-square:before {
  content: "\e1e5";
}
.icon-phone-mobile:before {
  content: "\e1e6";
}
.icon-photo:before {
  content: "\e1e7";
}
.icon-pin-map:before {
  content: "\e1e8";
}
.icon-pin-map-2:before {
  content: "\e1e9";
}
.icon-pinterest-1:before {
  content: "\e1ea";
}
.icon-pinterest-square:before {
  content: "\e1eb";
}
.icon-plane-airport:before {
  content: "\e1ec";
}
.icon-play-1:before {
  content: "\e1ed";
}
.icon-play-circle:before {
  content: "\e1ee";
}
.icon-plus-1:before {
  content: "\e1ef";
}
.icon-plus-circle:before {
  content: "\e1f0";
}
.icon-plus-square:before {
  content: "\e1f1";
}
.icon-pound:before {
  content: "\e1f2";
}
.icon-power-off:before {
  content: "\e1f3";
}
.icon-present-gift:before {
  content: "\e1f4";
}
.icon-prize-award:before {
  content: "\e1f5";
}
.icon-ptint:before {
  content: "\e1f6";
}
.icon-puzzle:before {
  content: "\e1f7";
}
.icon-qrcode:before {
  content: "\e1f8";
}
.icon-question:before {
  content: "\e1f9";
}
.icon-question-1:before {
  content: "\e1fa";
}
.icon-quote-left:before {
  content: "\e1fb";
}
.icon-quote-right:before {
  content: "\e1fc";
}
.icon-random:before {
  content: "\e1fd";
}
.icon-refresh:before {
  content: "\e1fe";
}
.icon-remove:before {
  content: "\e1ff";
}
.icon-renren-1:before {
  content: "\e200";
}
.icon-repeat-redo:before {
  content: "\e201";
}
.icon-reply-all-1:before {
  content: "\e202";
}
.icon-reply-mail:before {
  content: "\e203";
}
.icon-resize-down:before {
  content: "\e204";
}
.icon-resize-expand:before {
  content: "\e205";
}
.icon-retweet-1:before {
  content: "\e206";
}
.icon-right-1:before {
  content: "\e207";
}
.icon-road:before {
  content: "\e208";
}
.icon-rocket-1:before {
  content: "\e209";
}
.icon-rss-1:before {
  content: "\e20a";
}
.icon-rss-two:before {
  content: "\e20b";
}
.icon-rupee:before {
  content: "\e20c";
}
.icon-save-disk:before {
  content: "\e20d";
}
.icon-science-laboratory:before {
  content: "\e20e";
}
.icon-screen-desktop:before {
  content: "\e20f";
}
.icon-search-find:before {
  content: "\e210";
}
.icon-share-square:before {
  content: "\e211";
}
.icon-share-square-1:before {
  content: "\e212";
}
.icon-shield:before {
  content: "\e213";
}
.icon-shopping-cart:before {
  content: "\e214";
}
.icon-signal-1:before {
  content: "\e215";
}
.icon-sitemap:before {
  content: "\e216";
}
.icon-skype-1:before {
  content: "\e217";
}
.icon-smile:before {
  content: "\e218";
}
.icon-smiley-frown:before {
  content: "\e219";
}
.icon-smiley-meh:before {
  content: "\e21a";
}
.icon-sort-alpha:before {
  content: "\e21b";
}
.icon-sort-alpha-two:before {
  content: "\e21c";
}
.icon-sort-amount:before {
  content: "\e21d";
}
.icon-sort-amount-two:before {
  content: "\e21e";
}
.icon-sort-numeric:before {
  content: "\e21f";
}
.icon-sort-numeric-two:before {
  content: "\e220";
}
.icon-spinner:before {
  content: "\e221";
}
.icon-square:before {
  content: "\e222";
}
.icon-square-line:before {
  content: "\e223";
}
.icon-stackoverflow:before {
  content: "\e224";
}
.icon-star-1:before {
  content: "\e225";
}
.icon-star-half:before {
  content: "\e226";
}
.icon-star-half-1:before {
  content: "\e227";
}
.icon-star-two:before {
  content: "\e228";
}
.icon-step-backward:before {
  content: "\e229";
}
.icon-step-forward:before {
  content: "\e22a";
}
.icon-stethoscope:before {
  content: "\e22b";
}
.icon-stop-1:before {
  content: "\e22c";
}
.icon-strikethrough:before {
  content: "\e22d";
}
.icon-subscript:before {
  content: "\e22e";
}
.icon-sun:before {
  content: "\e22f";
}
.icon-superscript:before {
  content: "\e230";
}
.icon-table:before {
  content: "\e231";
}
.icon-tablet:before {
  content: "\e232";
}
.icon-tachometer:before {
  content: "\e233";
}
.icon-tag-1:before {
  content: "\e234";
}
.icon-tag-2:before {
  content: "\e235";
}
.icon-tags:before {
  content: "\e236";
}
.icon-talk-chat:before {
  content: "\e237";
}
.icon-talk-chat-2:before {
  content: "\e238";
}
.icon-tasks:before {
  content: "\e239";
}
.icon-terminal:before {
  content: "\e23a";
}
.icon-text-height:before {
  content: "\e23b";
}
.icon-text-width:before {
  content: "\e23c";
}
.icon-thumbnails:before {
  content: "\e23d";
}
.icon-thumbnails-large:before {
  content: "\e23e";
}
.icon-ticket-1:before {
  content: "\e23f";
}
.icon-tint:before {
  content: "\e240";
}
.icon-trash-bin:before {
  content: "\e241";
}
.icon-trello:before {
  content: "\e242";
}
.icon-truck:before {
  content: "\e243";
}
.icon-tumblr-1:before {
  content: "\e244";
}
.icon-tumblr-square:before {
  content: "\e245";
}
.icon-twitter-1:before {
  content: "\e246";
}
.icon-twitter-square:before {
  content: "\e247";
}
.icon-umbrella:before {
  content: "\e248";
}
.icon-underline:before {
  content: "\e249";
}
.icon-undo:before {
  content: "\e24a";
}
.icon-unlike:before {
  content: "\e24b";
}
.icon-unlock:before {
  content: "\e24c";
}
.icon-unlock-2:before {
  content: "\e24d";
}
.icon-upload-1:before {
  content: "\e24e";
}
.icon-user-1:before {
  content: "\e24f";
}
.icon-video-camera:before {
  content: "\e250";
}
.icon-vk:before {
  content: "\e251";
}
.icon-volume-down:before {
  content: "\e252";
}
.icon-volume-down-1:before {
  content: "\e253";
}
.icon-volume-up:before {
  content: "\e254";
}
.icon-weibo:before {
  content: "\e255";
}
.icon-window-list:before {
  content: "\e256";
}
.icon-windows:before {
  content: "\e257";
}
.icon-won:before {
  content: "\e258";
}
.icon-wrench:before {
  content: "\e259";
}
.icon-xing:before {
  content: "\e25a";
}
.icon-xing-square:before {
  content: "\e25b";
}
.icon-yen:before {
  content: "\e25c";
}
.icon-youtube:before {
  content: "\e25d";
}
.icon-youtube-play:before {
  content: "\e25e";
}
.icon-youtube-square:before {
  content: "\e25f";
}
.icon-yuan:before {
  content: "\e260";
}
.icon-zoom-in:before {
  content: "\e261";
}
.icon-zoom-out:before {
  content: "\e262";
}
.icon-phone64:before {
  content: "\e263";
}
.icon-calentar:before {
  content: "\e264";
}
.icon-drug4:before {
  content: "\e265";
}
.icon-hospital36:before {
  content: "\e266";
}
.icon-hostpital:before {
  content: "\e267";
}
