.elementor-1701 .elementor-element.elementor-element-5aeb097d{padding:0px 0px 100px 0px;}.elementor-1701 .elementor-element.elementor-element-4f2d4a69 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-4f94b404 .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-4f94b404 .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-34b25d7c{text-align:left;}.elementor-1701 .elementor-element.elementor-element-34b25d7c.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-34b25d7c .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-746b2227 .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-746b2227{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-746b2227 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-714ecbb3 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-151c7876 .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-151c7876 .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-fab36f9{text-align:left;}.elementor-1701 .elementor-element.elementor-element-fab36f9.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-fab36f9 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-1509f229 .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-1509f229{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-1509f229 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-2749ba3c > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-313aad1a .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-313aad1a .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-486019e6{text-align:left;}.elementor-1701 .elementor-element.elementor-element-486019e6.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-486019e6 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9 .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-78998494{padding:50px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-772dd168 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-273daa80 .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-273daa80 .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-494c2a67{text-align:left;}.elementor-1701 .elementor-element.elementor-element-494c2a67.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-494c2a67 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-76b43007 .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-76b43007{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-76b43007 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-570b4a99 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-38849d33 .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-38849d33 .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-4ceaea0b{text-align:left;}.elementor-1701 .elementor-element.elementor-element-4ceaea0b.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-4ceaea0b .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-33c2d57c .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-33c2d57c{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-33c2d57c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-16541640 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1701 .elementor-element.elementor-element-1a9d9dea .elementor-icon-wrapper{text-align:left;}.elementor-1701 .elementor-element.elementor-element-1a9d9dea .elementor-icon i{transform:rotate(0deg);}.elementor-1701 .elementor-element.elementor-element-413da12c{text-align:left;}.elementor-1701 .elementor-element.elementor-element-413da12c.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1701 .elementor-element.elementor-element-413da12c .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1701 .elementor-element.elementor-element-76661cb0 .elementor-text-editor{text-align:left;}.elementor-1701 .elementor-element.elementor-element-76661cb0{color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1701 .elementor-element.elementor-element-76661cb0 > .elementor-widget-container{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-1701 .elementor-element.elementor-element-5aeb097d{padding:100px 25px 100px 25px;}.elementor-1701 .elementor-element.elementor-element-746b2227{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-746b2227 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-1509f229{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-1509f229 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-76b43007{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-76b43007 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-33c2d57c{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-33c2d57c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-76661cb0{font-size:14px;}.elementor-1701 .elementor-element.elementor-element-76661cb0 > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-1701 .elementor-element.elementor-element-5aeb097d{padding:50px 20px 50px 20px;}.elementor-1701 .elementor-element.elementor-element-80c35ad{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-4f2d4a69 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-746b2227 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-714ecbb3 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-1509f229 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-2749ba3c > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-3fb5bcf9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-78998494{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-772dd168 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-76b43007 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-570b4a99 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-33c2d57c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1701 .elementor-element.elementor-element-16541640 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1701 .elementor-element.elementor-element-76661cb0 > .elementor-widget-container{padding:0px 0px 0px 0px;}}.elementor-1708 .elementor-element.elementor-element-692b06e3{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-714527a4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}.elementor-1708 .elementor-element.elementor-element-714527a4 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-219bb3f4{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-2ed00934 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-23bb5455 .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-23bb5455.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-23bb5455.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-23bb5455.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-23bb5455 .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-1a7d55eb{text-align:left;}.elementor-1708 .elementor-element.elementor-element-1a7d55eb.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-1a7d55eb .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-892c7d3 .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-892c7d3{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-892c7d3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-21995dc8 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-6af9dd9d .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-6af9dd9d.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-6af9dd9d.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-6af9dd9d.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-6af9dd9d .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-1b7092e{text-align:left;}.elementor-1708 .elementor-element.elementor-element-1b7092e.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-1b7092e .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-5e48aa85 .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-5e48aa85{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-5e48aa85 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-8523433 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-7d541857 .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-7d541857.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-7d541857.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-7d541857.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-7d541857 .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-dfc9e41{text-align:left;}.elementor-1708 .elementor-element.elementor-element-dfc9e41.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-dfc9e41 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-7fec659c .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-7fec659c{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-7fec659c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-547c432e{padding:50px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-29b36494 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-7f96f5ca .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-7f96f5ca.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-7f96f5ca.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-7f96f5ca.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-7f96f5ca .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-5813dbf3{text-align:left;}.elementor-1708 .elementor-element.elementor-element-5813dbf3.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-5813dbf3 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-8d509be .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-8d509be{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-8d509be > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-6615d919 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-488ea3d8 .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-488ea3d8.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-488ea3d8.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-488ea3d8.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-488ea3d8 .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-6f59dfd1{text-align:left;}.elementor-1708 .elementor-element.elementor-element-6f59dfd1.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-6f59dfd1 .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-495c2c01 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:15px 15px 15px 15px;}.elementor-1708 .elementor-element.elementor-element-29e0ce85 .elementor-icon-wrapper{text-align:left;}.elementor-1708 .elementor-element.elementor-element-29e0ce85.elementor-view-stacked .elementor-icon{background-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-29e0ce85.elementor-view-framed .elementor-icon, .elementor-1708 .elementor-element.elementor-element-29e0ce85.elementor-view-default .elementor-icon{color:rgba(231,25,57,0.75);border-color:rgba(231,25,57,0.75);}.elementor-1708 .elementor-element.elementor-element-29e0ce85 .elementor-icon i{transform:rotate(0deg);}.elementor-1708 .elementor-element.elementor-element-7c9a0b2e{text-align:left;}.elementor-1708 .elementor-element.elementor-element-7c9a0b2e.elementor-widget-heading .elementor-heading-title{color:#e71939;}.elementor-1708 .elementor-element.elementor-element-7c9a0b2e .elementor-heading-title{font-size:25px;font-weight:600;}.elementor-1708 .elementor-element.elementor-element-47450f0d .elementor-text-editor{text-align:left;}.elementor-1708 .elementor-element.elementor-element-47450f0d{color:#7a7a7a;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-1708 .elementor-element.elementor-element-47450f0d > .elementor-widget-container{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-1708 .elementor-element.elementor-element-692b06e3{padding:100px 25px 100px 25px;}.elementor-1708 .elementor-element.elementor-element-892c7d3{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-892c7d3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-5e48aa85{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-5e48aa85 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-7fec659c{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-7fec659c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-8d509be{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-8d509be > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-47450f0d{font-size:14px;}.elementor-1708 .elementor-element.elementor-element-47450f0d > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-1708 .elementor-element.elementor-element-692b06e3{padding:50px 20px 50px 20px;}.elementor-1708 .elementor-element.elementor-element-219bb3f4{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-2ed00934 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-892c7d3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-21995dc8 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-5e48aa85 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-8523433 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-7fec659c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-547c432e{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-29b36494 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-8d509be > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-6615d919 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-4e20fc1a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1708 .elementor-element.elementor-element-495c2c01 > .elementor-element-populated{padding:50px 10px 10px 10px;}.elementor-1708 .elementor-element.elementor-element-47450f0d > .elementor-widget-container{padding:0px 0px 0px 0px;}}.elementor-1997 .elementor-element.elementor-element-5236ef3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:40px;margin-bottom:40px;}.elementor-1997 .elementor-element.elementor-element-5236ef3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1997 .elementor-element.elementor-element-11f691f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:10px;}.elementor-1997 .elementor-element.elementor-element-e502eff .elementor-repeater-item-e632fbf{left:36.1%;top:27.6%;}.elementor-1997 .elementor-element.elementor-element-e502eff .elementor-repeater-item-b8f0836{left:58.9%;top:52.5%;}.elementor-1997 .elementor-element.elementor-element-e502eff .elementor-repeater-item-0950575{left:28.3%;top:65.7%;}.elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-wrap{width:14px;height:14px;font-size:14px;}.elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-wrap, .elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-inner, .elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-inner:before{color:#fff;}.elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-wrap, .elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-inner, .elementor-1997 .elementor-element.elementor-element-e502eff .eael-hot-spot-inner:before, .elementor-1997 .elementor-element.elementor-element-e502eff .eael-hotspot-icon-wrap{background-color:#e50000;}.elementor-1994 .elementor-element.elementor-element-5236ef3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:40px;margin-bottom:40px;}.elementor-1994 .elementor-element.elementor-element-5236ef3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1994 .elementor-element.elementor-element-11f691f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:10px;}.elementor-1994 .elementor-element.elementor-element-39555d4 .elementor-repeater-item-d6c779d{left:41.7%;top:30.6%;}.elementor-1994 .elementor-element.elementor-element-39555d4 .elementor-repeater-item-c8801b1{left:51.4%;top:54.2%;}.elementor-1994 .elementor-element.elementor-element-39555d4 .elementor-repeater-item-00822ca{left:44.9%;top:46.4%;}.elementor-1994 .elementor-element.elementor-element-39555d4 .elementor-repeater-item-149893a{left:44.7%;top:60.9%;}.elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-wrap{width:14px;height:14px;font-size:14px;}.elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-wrap, .elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-inner, .elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-inner:before{color:#fff;}.elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-wrap, .elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-inner, .elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hot-spot-inner:before, .elementor-1994 .elementor-element.elementor-element-39555d4 .eael-hotspot-icon-wrap{background-color:#e50000;}#wpgmza-maps-engine-dialog
{
text-align: left;
}
#wpgmza-maps-engine-dialog h1
{
text-align: center;
margin-bottom: 1em;
}
#wpgmza-maps-engine-dialog img
{
display: block;
margin: 0 auto;
width: 80%;
box-sizing: border-box;
}
#wpgmza-maps-engine-dialog .wpgmza-inner
{
display: flex;
}
#wpgmza-maps-engine-dialog .wpgmza-inner>div,
#wpgmza-maps-engine-dialog .wpgmza-inner label
{
flex: 1;
display: flex;
flex-direction: column;
}
#wpgmza-maps-engine-dialog .wpgmza-inner>div>div,
#wpgmza-maps-engine-dialog .wpgmza-inner label>div
{
flex-grow: 1;
}
#wpgmza-maps-engine-dialog ul
{
list-style: none; }
#wpgmza-maps-engine-dialog .wpgmza-pros>li:before
{
content: "\2714";
}
#wpgmza-maps-engine-dialog .wpgmza-cons>li:before
{
content: "\2718";
}    #wpgmza-maps-engine-dialog h2>img
{
width: 100%;
height: auto;
}
#wpgmza-maps-engine-dialog footer
{
margin: auto;
width: 20%;
}
#wpgmza-maps-engine-dialog footer>img
{
width: 100%;
height: auto;
}
#wpgmza-maps-engine-dialog img.wpgmza-engine-logo
{
width: 75%;
height: auto;
}
#wpgmza-maps-engine-dialog input[type='radio']
{
display: none;
}
#wpgmza-maps-engine-dialog input[type='radio'] + label
{  -webkit-filter: grayscale(100%); transition: all 0.5s;
}
#wpgmza-maps-engine-dialog input[type='radio'] + label:hover,
#wpgmza-maps-engine-dialog input[type='radio']:checked + label
{ -webkit-filter: grayscale(0%);
}
#wpgmza-maps-engine-dialog .wpgmza-mock-radio
{
position: relative;
left: -1.3em; }
#wpgmza-maps-engine-dialog .wpgmza-mock-radio-button
{
display: inline-block;
box-sizing: border-box;
width: 2em;
height: 2em;
margin-right: 0.5em;
position: top;
top: -4px;
border: 1px solid #ccc;
border-radius: 100%;
}
#wpgmza-maps-engine-dialog small
{
display: block;
text-align: center;
}
#wpgmza-maps-engine-dialog input[type='radio']:checked + label .wpgmza-mock-radio-button
{ border: 4px solid white;
box-shadow: -1px -1px 0px #ccc, -1px 0px 0px #ccc, 1px -1px 0px #ccc, 1px 0px 0px #ccc, 1px -1px 0px #ccc, 0px -1px 0px #ccc, -1px -1px 0px #ccc, -1px 0px 0px #ccc; background: #0073AA;
}
#wpgmza-maps-engine-dialog .wpgmza-mock-radio>*
{
display: inline-block;
vertical-align: middle;
}
#wpgmza-maps-engine-dialog .wpgmza-mock-radio-label
{
width: 50%;
height: auto;
}
#wpgmza-maps-engine-dialog ul
{
text-align: center;
}
#wpgmza-maps-engine-dialog button
{
font-size: 1.25em;
}
.wpgmza-centered
{
text-align: center;
}
.wpgmza_map {
border:0;
}
.wpgmza_hide_input { display:none !important; }
.wpgmza_theme_selection { margin-right:20px; margin-bottom:20px; cursor:pointer; border-radius:4px; }
.wpgmza-not-found-msg {
display: none;
margin-top: 20px;
color: #777;
}
.wpgmza-not-found-msg.is-active {
display: block;
}
.wpgmza-not-found-msg p {
margin-bottom: 0;
}
.wpgmza_map img:not(button img) {
border: none !important;
background-color:transparent !important;  box-shadow: none !important;
} .wpgmza_map img[src$="//maps.gstatic.com/mapfiles/api-3/images/google4.png"],
img[src='http://maps.gstatic.com/mapfiles/api-3/images/google_white5.png']
{
box-shadow: none !important;
}
#wpgmza_map img { box-shadow: none !important; }
.wpgmza_table img {
box-shadow: none !important;
}
.gm-style div { margin-top:0 !important; }
#wpgmaps_directions_edit {
padding-top:20px;
}
.wpgmza_markerbox {  margin:0; padding:0;
color:#000 !important;
}
.wpgmza_markerbox img { margin: 3px !important; }
.wpgmza_markerbox h1,
.wpgmza_markerbox h2,
.wpgmza_markerbox h3,
.wpgmza_markerbox h4,
.wpgmza_markerbox h5,
.wpgmza_markerbox h6,
.wpgmza_markerbox h7,
.wpgmza_markerbox h8,
.wpgmza_markerbox strong,
.wpgmza_markerbox p,
.wpgmza_markerbox br {
margin:2px;
padding:1px;
color:#000 !important;
}
.wpgmza_markerbox a {
color:#1982D1 !important;
}
.wpgmaps_mlist_table {
width:42px;
}
.wpgmza_table .wpgmaps_mlist_marker {
width:32px;
height:32px;
vertical-align:top;
padding:0 !important;
}
.wpgmza_table .wpgmaps_mlist_info {
vertical-align:top;
text-align:left;
padding:0 !important;
}
.wpgmza_table .wpgmaps_mlist_row {
cursor:pointer;
}
.wpgmza_table .wpgmaps_mlist_row:hover {
background-color: #EEEEEE;
}
.wpgmaps_directions_outer_div {
padding-top:30px;
padding-bottom:5px;
}
.wpgmaps_directions_outer_div table, wpgmza_marker_list_class {
margin-bottom:0px !important;
}
.wpgmza_map h2 { clear:both; }
.wpgmaps_user_form { clear: both; }
.wpgmza_table { clear:both; }
.wpgmaps_mlist_row img {
margin-bottom:0 !important;
}
.wpgmza_table td {
vertical-align: top !important;
padding-bottom: 15px !important;
padding-right: 10px !important;
border: 0 !important;
}
.wpgmza_table tr { border: 0 !important; }
.wpgmza_table th {
text-align: left !important;
padding-bottom: 15px !important;
border: 0 !important;
min-width:100px;    
}
.dataTables_filter input[type="text"], .dataTables_filter select { display: inline !important; }
.dataTables_filter label { font-weight:bold; }
.adp-placemark img { width:24px !important; max-width:none !important; }
.wpgmza_table .sorting { background-image: none !important; } #wpgm_premium {
display:block;
overflow:auto;
margin:10px;
margin-left:0;
clear:both;
width:90%;
}
#wpgm_premium h2 {
margin-top:0;
padding-top:0;
font-weight:200;
font-size: 20px;
padding-bottom:0px;
margin-bottom:2px;
}
#wpgm_premium p {
font-size:16px;
line-height:28px;
}
.wpgm_premium_row { 
margin-top:20px;
display:block;
clear:both;
width:100%;
overflow:auto;
}
.wpgm_details p {
padding-top:0px;
margin-top:2px;
color: #666 !important;
}
.wpgm_icon {
display:block;
float:left;
width:50px;
height:70px;
background-image:url(//techincubatorqc.com/wp-content/plugins/wp-google-maps/images/premium.png);
background-repeat: no-repeat;
}
.wpgm_details {
display:block;
float:left;
width:80%;
}
.wpgm_notice_message {
border-style: solid;
border-width: 1px;
margin: 5px 0 15px;
padding: 0 0.6em;
background-color: #FFFCF5;
border-color: #FFBA00;
} .wpgmza_sl_main_div {
width:100%;
}
.wpgmza_sl_query_div {
height:30px;
display:block;
}
.wpgmza_sl_query_innerdiv1 { 
float:left;
display:block;
width:150px;
clear:left;
}
.wpgmza_sl_query_innerdiv2 {
display:block;
float:left;
width:250px;
}
.wpgmza_sl_radius_div {
display:block; 
height:30px;
margin-top:10px;
clear:both;
}
.wpgmza_sl_radius_innerdiv1 { 
float:left;
display:block;
width:150px;
}
.wpgmza_sl_radius_innerdiv2 {
display:block;
float:left;
width:250px;
}
.wpgmza_sl_radius_select {
}
.wpgmza_sl_select_option {
}
.wpgmza_sl_category_div {
display:block; 
clear:both;
height:auto; 
overflow:auto; 
margin-top:10px; 
margin-bottom:10px; 
}
.wpgmza_sl_category_innerdiv1 { 
float:left;
display:block;
width:150px;
}
.wpgmza_sl_category_innerdiv2 {
float:left;
}
.wpgmza_sl_search_button {
}
.wpgmza_marker_approval_msg { font-weight: bold; }
.scrollFix {
line-height: 1.35;
}
.wpgmza_infowindow_description { white-space: normal; }
.wpgmza_infowindow_title { white-space: normal; }
.wpgmza_infowindow_address { white-space: normal; }
.wpgmza_infowindow_title { font-weight: bold; }
#wpgmza_marker_list tr { vertical-align: middle !important; }
#wpgmza_marker_list td { vertical-align: middle !important; }
#wpgmza_marker_list td img { vertical-align: middle !important; }
.wpgmza_marker_carousel { clear:both; }
.wpgmza-shadow { 
-webkit-box-shadow: 3px 3px 10px 0px rgba(107,107,107,1);
-moz-box-shadow: 3px 3px 10px 0px rgba(107,107,107,1);
box-shadow: 3px 3px 10px 0px rgba(107,107,107,1);
}
.wpgmza_innermap_holder { 
padding:5px;
background-color:white;
border: 1px solid #ccc;
border-radius:5px;
}
.wpgmza_small_img { max-width: 14px; max-height: 14px; }
ul.wpgmza_marker_list_class {
list-style: none;
margin-left:5px;
padding-left:0;
}
.wpgmza-basic-list-item { float:left; cursor:pointer; }
.wpgmaps_blist_row { clear:both; display:block; height:auto; overflow:hidden;   }
.wpgmaps_blist_row:hover { background-color:#EEE;  }
.wpgmza_div_marker { width:17px; height:17px; }
.wpgmza_div_address { padding-left:2px;}
.wpgmza_row {
width:100%;
display:block;
overflow:auto;
}
.wpgmza_row_col {
width:90%;
float:left;
display:block;
overflow:auto;
margin:0.25%;
padding:0.2%;
min-height:360px;
}
.wpgmza_row_col h2 { 
font-weight:900;
}
.wpgmza_row_col ul li {
margin: 0.3em 2.5em;
}
.wpgmza_row_col ul {
list-style-type:disc;
}
@media only screen and (min-width:480px) {
.wpgmza_row_col {
width:31%;
float:left;
display:block;
overflow:auto;
margin:0.25%;
padding:0.2%;
min-height:360px;
} 
}
.wpgmza_theme_selection_activate { border-radius: px;
padding-left: 0px;
padding-right: 0px;
border-left: 4px solid #0073AA;
} @media only screen and (min-width: 320px) and (max-width:568px) and (-webkit-min-device-pixel-ratio: 2) {
.wpgmza_infowindow_description,
.wpgmza_infowindow_address,
.wpgmza_infowindow_title {
width:140px !important;
}
}
.wpgmza-badge {
background-image: url(//techincubatorqc.com/wp-content/plugins/wp-google-maps/images/WP-google-maps-logo-1-B-transparent.png); position: absolute;
background: url(//techincubatorqc.com/wp-content/plugins/wp-google-maps/images/WP-google-maps-logo-1-B-transparent.png) center no-repeat;
-webkit-background-size: 202px 101px;
background-size: 202px 101px;
color: #fff;
font-size: 14px;
text-align: center;
font-weight: 600;
margin: 5px 0 0;
padding:5px;
height: 101px;
display: inline-block;
width: 202px;
text-rendering: optimizeLegibility;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
box-shadow: 0 1px 3px rgba(0,0,0,.2);
top: 0;
right: 0;
}
.toplevel_page_wp-google-maps-menu .about-text {
max-width: 600px;
}
.wpgmza-clearfix {
zoom: 1;
}
.wpgmza-clearfix:before,
.wpgmza-clearfix:after {
content: '';
display: table;
table-layout: fixed;
}
.wpgmza-clearfix:after {
clear: both;
}
.wpgmza_sl_main_div {
overflow: hidden;
position: relative;
top: 10px;
}
.wpgmza_sl_query_div,
.wpgmza_sl_radius_div {
height: auto;
margin-bottom: 10px;
}
.wpgmza_sl_radius_div {
margin-bottom: 20px;
}
.wpgmaps_fullscreen {
position: fixed !important;
top:0;
left:0;
width:100% !important;
height: 100% !important;
z-index:9999;
}
.wpgmza-modern-store-locator {
text-align: center;
padding-top: 10px;
}
.wpgmza-modern-store-locator > .wpgmza-inner {
display: inline-block;
background: white;
padding: 0.5em !important;
border-radius: 2px;
font-family: Roboto, sans-serif;
box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-o-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.wpgmza-modern-store-locator input,
.wpgmza-modern-store-locator select {
height: 28px !important;
vertical-align: top;
padding: 0 6px !important;
margin: 0 2px;
color: #777;
}
#addressInput {
width: auto !important;
display: inline;
}
.wpgmza-form-field {
position: relative;
overflow: hidden;
margin-top: 0;
margin-bottom: 5px;
padding-top: 25px;
}
.wpgmza-form-field:last-of-type {
margin-bottom: 18px;
}
.wpgmza-form-field--no-pad {
display: block;
padding-top: 0;
}
.wpgmza-form-field__label {
display: block;
color: #666;
font-weight: 400;
}
#wpgmza-map .wpgmza-form-field__label--float {
width: 100%;
position: absolute;
top: 37px;
background: #fff;
transition: all ease .3s;
}
.wpgmza-form-field__input:focus ~ label {
top: 8px;
color: #333;
font-weight: 700;
}
.wpgmza-modern-store-locator .wpgmza_sl_search_button {
cursor: pointer;
font-size: 15px;
padding: 0 0.3em;
height: 100%;
line-height: 28px;
color: #b7b7b7;
}
#wpgmza_map .wpgmza-inner .wpgmza-form-field__input,
#wpgmza_map .wpgmza-form-field input[type="text"],
#wpgmza_map .wpgmza-form-field input[type="url"],
#wpgmza_map .wpgmza-form-field input[type="password"],
#wpgmza_map .wpgmza-form-field input[type="search"],
#wpgmza_map .wpgmza-form-field input[type="number"],
#wpgmza_map .wpgmza-form-field input[type="tel"],
#wpgmza_map .wpgmza-form-field input[type="email"],
#wpgmza_map .wpgmza-form-field textarea,
#wpgmza_map .wpgmza-form-field select {
padding: 10px;
padding-left: 0;
border: none;
border-radius: 0;
transition: all .3s;
background: none;
box-shadow: none;
font-family: Roboto, sans-serif;
}
#wpgmza_map .wpgmza-inner .wpgmza-form-field__input:focus,
#wpgmza_map .wpgmza-form-field input[type="text"]:focus,
#wpgmza_map .wpgmza-form-field input[type="url"]:focus,
#wpgmza_map .wpgmza-form-field input[type="password"]:focus,
#wpgmza_map .wpgmza-form-field input[type="search"]:focus,
#wpgmza_map .wpgmza-form-field input[type="number"]:focus,
#wpgmza_map .wpgmza-form-field input[type="tel"]:focus,
#wpgmza_map .wpgmza-form-field input[type="email"]:focus,
#wpgmza_map .wpgmza-form-field textarea:focus,
#wpgmza_map .wpgmza-form-field select:focus {
background: none;
}
.wpgmza_sl_main_div input[type="button"],
.wpgmaps_directions_outer_div input[type="button"],
.wpgmza-inner input[type="button"]
.wpgmza_sl_main_div input[type="button"] {
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.05em;
} .pac-container {
border-radius: 2px;
border-top: none;
font-family: Roboto, sans-serif;
box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
-o-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.pac-container .pac-item{
border-top: none;
}
.pac-container .pac-item .pac-item-query{
color: #333;
}
#wpgmza-google-api-error-dialog
{
width: 66vw;
}
#wpgmza-google-api-error-list,
#wpgmza-google-api-error-list *
{
text-align: left;
}
#wpgmza-google-api-error-list
{
list-style: none;
}
#wpgmza-google-api-error-list li
{
background: ghostwhite;
padding: 0.5em;
margin: 0.5em;
}
#wpgmza-google-api-error-list li:before
{
content: "\26D4";
color: red;
}
#wpgmza-google-api-error-dialog a
{
color: blue;
}
#wpgmza-google-api-error-dialog .wpgmza-documentation-buttons
{
float: right;
}
#wpgmza-google-api-error-dialog .wpgmza-documentation-buttons a
{
color: #444444;
background: #F3F3F3;
border: 1px #DADADA solid;
padding: 5px 10px;
border-radius: 2px;
cursor: pointer;
font-size: 9pt;
outline: none;
}
#wpgmza-google-api-error-dialog .wpgmza-documentation-buttons a:hover {
border: 1px #C6C6C6 solid;
box-shadow: 1px 1px 1px #EAEAEA;
color: #333333;
background: #F7F7F7;
}
#wpgmza-google-api-error-dialog .wpgmza-documentation-buttons a:active {
box-shadow: inset 1px 1px 1px #DFDFDF;   
}
#wpgmza-google-api-error-dialog .wpgmza-documentation-buttons a i
{
font-weight: bold;
padding-right: 0.3em;
}
#wpgmza-google-api-error-dialog .wpgmza-front-end-only
{
color: red;
font-size: 0.8em;
}
.wpgmza-google-html-overlay
{
position: absolute;
}